[Unit]
Description=Celery worker
After=network.target

[Service]
Type=simple
Environment="DJANGO_SETTINGS_MODULE=patchlab.settings.ci"
ExecStart=/home/vagrant/.virtualenvs/patchlab/bin/celery worker --pool=prefork --concurrency=1 -E -A patchlab -l info -n celery-worker%i@%H

[Install]
WantedBy=multi-user.target

[Install]
WantedBy=multi-user.target
