[Unit]
Description=Patchwork
After=network.target

[Service]
Environment="DJANGO_SETTINGS_MODULE=patchwork.settings.dev"
Environment="PW_TEST_DB_TYPE=postgres"
ExecStart=%h/.virtualenvs/pw/bin/python %h/patchwork/manage.py runserver 0.0.0.0:8000
Type=simple

[Install]
WantedBy=multi-user.target
